<!DOCTYPE html>
<html>
  <head>
    <title>SampleReactApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>
    <!-- this is a react componenet -->
    <!-- java script stuff that's not react -->
  </head>

  <body>
   <h1>hello</h1>
    <%= yield %>
  </body>
</html>
